/*去除内外边距*/
*{
    padding: 0;
    margin: 0;
}
a, dd, div, dl, i, img, input, li, p, span, ul,h2{
    box-sizing: border-box;
    font-family: Verdana, 'Lantinghei SC', 'Hiragino Sans GB', 'Microsoft Yahei', Helvetica, arial, 宋体, sans-serif;
}
a{
    text-decoration: none;
    color: #333;
}
div{
    display: block;
}
em{
    font-size: 12px;
    font-style: normal;
    color: grey;
}

li{
    display: list-item;
    text-align: -webkit-match-parent;
}
.wrapper{

}
/*定义头部布局样式*/
.header{
    width: 1000px;
    height: 70px;
    min-height: 70px;
    margin: 0 auto;
    padding: 10px 0;
}
.header .wrap{
    width: 1000px;
    position: absolute;
    z-index: 1200;
}
/*极客学院logo样式*/
.header .logo{
    float: left;
    width: 113px;
    margin-top: 5px;
}
/*搜索框区域样式*/
.header .search-section{
    position: absolute;
    left: 500px;
    bottom: 3px;
    margin: 0 0 0 -190px;
    width: 380px;
    height: 38px;
    border: 1px solid #e4e4e4;
}
/*热点词汇链接样式*/
.header .hot-words{
    position: absolute;
    top: 9px;
    right: 48px;
    font-size: 12px;
}
.header .hot-words a{
    color: #808080;
    background: #F3F3F3 none repeat scroll;
}
.header .hot-words a:hover{
    color: #333;
    background: #dfdfdf;
}
.header .loginbox{
    float: right;
    text-align: right;
    line-height: 50px;
    font-size: 12px;
    color: #333;
    display: inline-block;
}
/*搜索框样式*/
.search-section .search-text{
    width: 100%;
    height: 36px;
    padding: 9px 150px 9px 15px;
    border: 0;
    line-height: 18px;
    color: #333;
    background: #fff;
    font-size: 12px;
    text-align: left

}
.search-section .search-text:focus{
    outline-style: none;
}
/*搜索按钮样式*/
.search-section .search-btn{
    position: absolute;
    top: -1px;
    right: -1px;
    width: 40px;
    height: 38px;
    border: 1px solid #dfdfdf;
    color: #6d6d6d;
    background: url(image/serch.png) center center no-repeat;
    cursor: pointer;
}
.search-section .search-btn:hover{
    background: #35b558 url(image/serch1.png) center center no-repeat;
    border-color: transparent;
}
/*进度条*/
.loading{
    width: 100%;
    height: 2px;
    overflow: hidden;
    background: -webkit-gradient(linear,10% 10%,100% 100%,color-stop(0.14,#35b550),color-stop(0.5,#8aca8c),color-stop(1,#2d85ca));

}
/*导航链接区域*/
.navposition{
    height: 42px;
    width: 100%;
    position: relative;
    background: rgba(255,255,255,.9);
    border-bottom: 1px solid #e8e8e8;
    box-shadow: rgba(0,0,0,.1) 0 1px 5px;
}
.navposition .navboxwarp{
    width: 1000px;
    margin: 0 auto;
    position: relative;
    z-index: 1100;
}
.navposition .navbox{
    width: 740px;
}
.navposition .user-need{
    height: 44px;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    line-height: 44px;
    font-size: 12px;
}
.navposition .navbox a{
    display: inline-block;
    margin-right: 22px;
    font-size: 14px;
    color: #333;
    line-height: 44px;
}
.navposition a:hover{
    color: #35b558;
}
.navposition .navbox span{
    display: inline-block;
}
.navposition .user-need a{
    width: auto!important;
    font-size: 12px;
    padding: 0;
    margin-left: 20px;
}
/*主体内容布局*/
.pager{
    width: 1000px;
    margin: 20px auto;
}
.pager .w-1000{
    width: 1000px;
    height: 307px;
}
.pager li div a:hover{
    color: #35b558;
}
.pager .lesson-classfiy-nav{
    position: relative;
    width: 210px;
    float: left;
    border-top: 2px solid #35b558;
    border-right: 0;
    height: 307px;
    background: url(image/nav_border.jpg) 100% 0 repeat-y;
}

.pager .lesson-classfiy-nav:hover .line{
    z-index: 0;
}

.pager ul{
    position: absolute;
    z-index: 800;
    width: 210px;
    height: 302px;
    background: #fff;
    border: 1px solid #e4e4e4;
    border-bottom: 0;
    border-top: 0;
    overflow: hidden;
    list-style: none;
}
.pager ul:hover{
    overflow: visible;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e4e4e4;
    height: 408px;
}
/*课程列表区域布局*/
.pager .lesson-list{
    width: 208px;
    height: 37px;
    line-height: 37px;
    padding: 0 15px;
    font-size: 13px;
    color: #333;
    border-bottom: 1px solid #F5F5F5;
    background: #fff url(image/more-icon.png) 186px center no-repeat;
    background-size: 6px 10px;
    cursor: pointer;
    font-weight: 400;
}
.pager .lesson-list:hover{
    color: #35B558;
    border-width: 1px 3px 1px 2px;
    border-style: solid;
    border-color: #E4E4E4 #FFF #E4E4E4 #35B558;
    /*margin-left: -2px;*/
    height: 38px;
    margin-top: -1px;
    padding-left: 18px;
    width: 213px;
    background: #FFF none repeat scroll;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.pager li div:hover .lesson-list-show{
    display: block;
}
/*隐藏课程区域布局*/
.pager .lesson-list-show{
    -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,.1);
    -moz-box-shadow: 2px 2px 4px rgba(0,0,0,.1);
    box-shadow: 1px 2px 4px rgba(0,0,0,.1);
    overflow: hidden;
    width: 401px;
    min-height: 410px;
    background: #fff;
    border: 1px solid #e4e4e4;
    position: absolute;
    left: 209px;
    top: -2px;
    z-index: 100;
    border-left: 0;
    display: none;
    padding-bottom: 30px;
}
.pager .lesson-list-show div{
    width: 400px;
    float: left;
}
.pager .lesson-list-show dl{
    margin: 0 10px;
    overflow: hidden;
}
.pager .lesson-list-show dt{
    display: block;
    border-bottom: 1px solid #f5f5f5;
    height: 37px;
    line-height: 45px;
}
.pager .lesson-list-show dd{
    list-style: none;
    margin-left: -8px;
    padding: 3px 0;
}
.pager .cf:after{
    content: '';
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.pager .lesson-list-show dd a{
    height: 14px;
    line-height: 14px;
    margin-bottom: 10px;
    margin-top: 4px;
    padding: 0 7px;
    color: #666;
    display: inline-block;
    font-size: 12px;
    border-left: 1px solid #e0e0e0;
    float: left;
    white-space: nowrap;
    font-weight: 400;
}
.pager .line{
    position: absolute;
    z-index: 2000;
    height: 9px;
    width: 210px;
    background: #f9f9f9 url(image/line.png) center center no-repeat;
    background-size: 7px 3px;
    bottom: 0;
    border: 1px solid #e4e4e4;
    border-top: 0;
}
/*幻灯片动画过渡广告区*/
.pager .index-banner{
    width: 570px;
    height: 307px;
    float: left;
    margin-left: 10px;
    background: #ccc;
    border: 1px solid #e4e4e4;
    border-right: 0;
    -webkit-transition: -webkit-transform,1s,ease,1s;
}
.pager .index-banner:hover{
    /*-webkit-transform:translate3d(-100px,0,0);*/
}
.pager .banner-box{
    height: 305px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;

}

.banner-left,.banner-left1{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -25px;
    z-index: 800;
    display: none;
    cursor: pointer;
    background: url('image/banner-left.png') -10px -5px no-repeat;
    width: 40px;
    height: 50px;
    overflow: hidden;
}

.banner-right,.banner-right1{
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -25px;
    z-index: 800;
    display: none;
    cursor: pointer;
    background: url('image/banner-right.png') -10px -5px no-repeat;
    width: 40px;
    height: 50px;
    overflow: hidden;
}

.pager .swiper-wrapper {
    position: relative;
    width: 569px;
    height: 305px;
    overflow: hidden;
}

.pager .swiper-wrapper .swiper-inner{
    width: 3983px;
    left: -569px;
    position: absolute;
}

.pager .pagination{
    position: absolute;
    left: 0;
    text-align: center;
    bottom: 15px;
    width: 100%;
    z-index: 800;
}

.pager .swiper-pagination-switch {
    display: inline-block;
    width: 39px;
    height: 7px;
    background: url('image/swiper.jpg') center center no-repeat;
    margin: 0 6px;
    cursor: pointer;
}

.swiper-active-switch{
    background: url('image/swiper2.jpg') center center no-repeat !important;
}

.pager .swiper-wrapper a{
    width: 569px;
    position: relative;
    text-align: center;
    height: 305px!important;
    float: left;
}
.pager .swiper-slide1{
    background: #35B558 url("image/a1.jpg") no-repeat scroll center center;
}
.pager .swiper-slide2{
    background: #35B558 url("image/a2.png") no-repeat scroll center center;
}
.pager .swiper-slide3{
    background: #35B558 url("image/a3.jpg") no-repeat scroll center center;
}
.pager .swiper-slide4{
    background: #35B558 url("image/a4.jpg") no-repeat scroll center center;
}
/*右侧内容区域样式*/
.pager .lesson-right-show{
    width: 210px;
    float: left;
    border: 1px solid #E4E4E4;
    height: 307px;
    overflow: hidden;
}
.pager .lesson-right-show div{
    height: 153px;
    border-bottom: 1px solid #e4e4e4;
    display: block;
}
.pager .lesson-right-show a{
    padding: 20px;
    display: block;
}
.pager .lesson-right-show p{
    color: #35b558;
    font-size: 12px;
    line-height: 1.6;
    margin: 10px 0 2px;
}
.pager .lesson-right-show p span{
    padding: 5px;
}
.pager .lesson-right-show .title{
    font-size: 15px;
    font-weight: 400;
    padding-left: 0;
}
.pager .lesson-right-show .greenbtn1{
    width: 168px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    border-radius: inherit;
    margin-top: 10px;
    cursor: pointer;
    border: 0 none;
    outline: 0;
    transition: border-color 1s,background 1s;
    background: #7bda95;
    display: inline-block;
    color: #fff;
    font-weight: 400;
    align-items: flex-start;
    text-align: center;
}
.pager .lesson-right-show .greenbtn1:hover{
    background:#35b558;
}
.pager .lesson-right-show .greenbtn2{
    width: 168px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    border-radius: inherit;
    margin-top: 10px;
    cursor: pointer;
    outline: 0;
    transition: border-color 1s,background 1s;
    display: inline-block;
    color: #35b558;
    background: #f3fff6;
    border: 1px solid #35b558;
    font-weight: 400;
    align-items: flex-start;
    text-align: center;
}
.pager .lesson-right-show .greenbtn2:hover{
    background:#35b558;
    color: #ffffff;
}
/*中间热点课程导航链接布局样式*/
.pager .hot-lesson{
    margin: 30px 0 0 0;
    height: 41px;
    position: relative;
    z-index: 500;
    /*background-color: grey;*/
}
.pager .hot-lesson ul{
    width: 1000px;
    border: none;
    height: 41px;
    background: url(image/hotnav_bc.jpg) 0 100% repeat-x;
}
.pager .hot-lesson li{
    width: 16.6%;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #666;
    padding: 10px 0;
    cursor: pointer;
}

/*.pager .hot-lesson li:hover{*/
    /*border-bottom: 2px solid #35b558;*/
    /*color: #35b558;*/
/*}*/
/*热点课程内容栏布局hot-lessonbox*/
.pager .hot-lessonbox{
    width: 1000px;
    height: 480px;
    margin: 20px 0 0 0;
    position: relative;
    z-index: 500;
}
.pager .hot-lessonbox ul{
    width: 1100px;
    height: 480px;
    margin-top: 0;
    border: none;
}
.pager .hot-lessonbox li{
    margin:0 20px 20px 0;
    background: 0 0;
    height: 220px;
    width: 235px;
    float: left;
}

.pager .lessonimg-box{
    border: 1px solid #e4e4e4;
    border-bottom: 0;
    width: 235px;
    height: 130px;
    position: relative;
}
.pager .lesson-infor{
    border: 1px solid #e4e4e4;
    border-top: 0;
    background: #fff!important;
    height: 88px;
    padding: 10px;
    position: relative;
    z-index: 200;
    overflow: hidden;
    transition: height .5s;
}

.pager .lesson-info-h2{
    font-size: 14px;
    color: #333;
    line-height: 18px;
    margin-bottom: 12px;
    height: 36px;
    overflow: hidden;
    display: block;
    font-weight: 400;
}
.pager .timeandicon{
    font-size: 12px;
    color: gray;
    position: relative;
}
.pager .cf{
    display: inline-block;
}
.pager .cf dl{
    width: 120px;
    float: left;
    white-space: nowrap;
}
.pager .lessonicon-box img{
    width: 16px;
    height: 16px;
    vertical-align: middle;
    border: 0;
    margin-left: 72px;
}
.pager .lessonimg{
    width: 100%;
    height: 130px;
    vertical-align: middle;
    border: 0;
}
.pager .time-icon{
    background: url(image/clok.png) 0 0 no-repeat;
    width: 14px;
    height: 14px;
    display: block;
    float: left;
    margin-right: 8px;
    background-size: 14px 14px;
}
/*网页页脚布局样式*/
.footer{
    min-width: 1000px;
}

.footer .jkinfor-block{
    background: #fafafa;
    border-top: 1px solid #E4E4E4;
    border-bottom: 1px solid #e4e4e4;
}

.footer .jkinfor-cf{
    width: 1000px;
    margin: 0 auto;
    min-height: 251px;
}

.footer .jkinfor-cf dl{
    width: 185px;
    padding-left: 30px;
    color: gray;
    margin: 25px 0;
    float: left;
    border-left: 1px solid #E4E4E4;
    min-height: 175px;
}

.footer .jkinfor-cf dl dt{
    font-size: 14px;
    color: #666;
    font-weight: 500;
}

.footer .jkinfor-cf dl dd{
    font-size: 12px;
    margin-top: 10px;
}

.footer .search-share{
    width: 260px;
    float: left;
    min-height: 226px;
    border-left: 1px solid #E4E4E4;
    padding: 20px 0 0 40px;
}
.footer .search-share .jktxt{
    font-size: 15px;
    color: #35b558;
    display: block;
    margin-bottom: 15px;
    font-weight: 500;
}
.footer .search-share .share{
    margin-top: 15px;
}

.footer .search-share .share a{
    background: url(image/icon_all.png) -23px 0 no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
    float: left;
    margin-right: 10px;
    position: relative;
    color: gray;
    padding-left: 5px
}

.footer .share a.sina-icon{
    background-position: -23px 0;
}

.footer .share a.sina-icon{
    background-position: -145px 0;
}

.footer .share a.sina-icon{
    background-position: -23px -82px;
}

.footer .search-share .kefu-online{
    margin-top: 62px;
    padding-left: 35px;
}

.footer .search-share strong{
    font-size: 18px;
    color: #666;
    margin-bottom: 8px;
    font-weight: bold;
}

.footer .app-download p{
    font-size: 14px;
    color: gray;
    background: url(image/more-icon.png) 160px center no-repeat;
    background-size: 7px 13px;
}

.footer .app-download img{
    display: block;
    float: left;
    margin-right: 15px;
}

.footer .copyright{
    font-size: 12px;
    color: #999;
    margin: 0 auto;
    width: 1000px;
    text-align: center;
    padding: 20px;
}

.footer .kefu-icon{
    float: left;
    width: 40px;
    height: 40px;
    margin-left: -40px;
    background: url(image/kefu.png) no-repeat -40px 0/80px 40px;
    background-position: 0 0;
}

.footer .kefu-online p{
    color: gray;
    font-size: 12px;
    padding-left: 5px;
}

.footer .kefu-online span{
    color: #666;
    font-size: 14px;
    margin-bottom: 2px;
    line-height: 22px;
    padding-left: 5px;
}

.footer a:hover{
    color: #35b558;
}

.index-public-title{
    margin-bottom: 16px;
    font-size: 18px;
    color: #333;
    font-weight: 500;
    height: 25px;
}

.index-public-title .more-lesson{
    font-size: 12px;
    color: #2d85ca;
    float: right;
    margin-top: 4px;
    font-weight: normal;
}

.index-public-title a{
    float: left;
}

.index-public-title .way {
    font-size: 12px;
    font-style: normal;
    line-height: 13px;
    color: #fff;
    background: #999;
    text-align: center;
    border-radius: 50%;
    display: block;
    width: 13px;
    height: 13px;
    float: left;
    margin: 5px 8px 0;
    cursor: pointer;
}

.one-classfiy-lesson{
    display: none;
}


.one-classfiy-lesson ul li:hover p{
    display: block !important;
    height: 82px !important;
    font-size: 12px;
    font-style: normal;
    color: grey;
    overflow: scroll;
}

.one-classfiy-lesson ul li:hover .lesson-infor{
    height: 175px !important;
}
/*热门课程导航开关类*/
.classfiyLessonOn{
    display: block;
}
/*热门课程导航样式类*/
.classfiyNavStyle{
    border-bottom: 2px solid #35b558;
    color: #35b558;
    background: url('image/greenup.png') center bottom no-repeat;
    background-size: 10px 4px;
}

.learn-card{
    width: 1000px;
    height: 600px;
    margin-bottom: 40px;
    border-right: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
}
/*职业路径图卡片链接样式*/
.learn-card a{
    width: 20%;
    border: 1px solid #E4E4E4;
    float: left;
    text-align: center;
    display: block;
    height: 300px;
    border-right-color: transparent;
    border-bottom-color: transparent;
    overflow: hidden;
}

.learn-card img{
    width: 100%;
    height: 120px;
    margin-bottom: 24px;
}

.learn-card a h2{
    font-size: 15px;
    color: #333;
    margin-bottom: 20px;
    height: 18px;
    overflow: hidden;
    font-weight: 400;
}

.learn-card a p{
    font-size: 12px;
    color: #666;
    line-height: 20px;
    height: 20px;
    width: 199px;
    overflow: hidden;
}

.greenbtn3{
    width: 140px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    outline: 0;
    display: inline-block;
    color: #35b558;
    font-size: 16px;
    background: #f3fff6;
    border: 1px solid #35b558;
    font-weight: 400;
    transition: border-color .8s,background .8s;
}

.learn-card a:hover{
    border: 1px solid #35b558;
}

.learn-card a:hover .greenbtn3{
    background: #35b558;
    color: #fff;
    border-color: #35b558;
}
/*知识体系图布局*/
.mapbox{
    width: 1003px;
    height: 480px;
    border-bottom: 1px solid #E4E4E4;
    border-right: 1px solid #E4E4E4;
    overflow: hidden;
    margin-bottom: 40px;
}

.card-transform{
    width: 167px;
    height: 120px;
    border: 1px solid #E4E4E4;
    border-right: 0;
    border-bottom: 0;
    float: left;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.card-transform .front{
    border-bottom: 1px solid #E4E4E4;
    padding: 15px 0;
    z-index: 2;
    transform: rotateY(0deg);
    background-color: #fff;
    width: 167px;
    height: 120px;
    backface-visibility: hidden;
    transition: .6s;
    position: absolute;
    left: 0;
    top: 0;
}

.card-transform .front img{
    margin-bottom: 5px;
    height: 40px;
    width: 40px;
}

.card-transform .front h2{
    margin-bottom: 5px;
    font-size: 15px;
    color: #333;
    font-weight: 400;
}

.card-transform .front span{
    font-size: 14px;
    color: #35b558;
}

.card-transform .back{
    padding-top: 30px;
    transform: rotateY(-180deg);
    background-color: #f5f5f5;
    border-bottom: 1px solid #E4E4E4;
    width: 167px;
    height: 120px;
    backface-visibility: hidden;
    transition: .6s;
    position: absolute;
    left: 0;
    top: 0;
}

.card-transform .back strong{
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    font-weight: 400;
}

.greenbtn4{
    width: 140px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    border-radius: inherit;
    cursor: pointer;
    outline: 0;
    transition: border-color 1s,background 1s;
    display: inline-block;
    color: #fff;
    background:#35b558;
    border: 0 none;
    font-weight: 400;
    align-items: flex-start;
    text-align: center;
}

.greenbtn4:hover{
    background: #7bda95;
}

.card-transform:hover .front{
    transform: rotateY(-180deg);
}

.card-transform:hover .back{
    transform: rotateY(0deg);
}
/*战略合作企业段落布局*/
.strategy{
    border: 1px solid #E4E4E4;
    padding: 20px;
    position: relative;
    width: 1000px;
    margin: 0 auto 40px auto;
}

.swiper-container{
    width: 100%;
    height: 50px!important;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
    z-index: 1;
}

.swiper-container div{
    width: 1592px;
    left: -320px;
    position: absolute;
}

.swiper-container img{
    height: 50px;
    width: 150px;
    margin: 0 2px 0 2px;
    border: 1px solid #e4e4e4;
}
/*合作院校div样式*/
.swiper-container1{
    width: 100%;
    height: 110px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
    z-index: 1;
}

.swiper-container1 div{
    width: 1488px;
    left: -264px;
    position: absolute;
}

.swiper-container1 img{
    width: 110px;
    height: 110px;
    margin: 0 10px 0 10px;
    border: 0 none;
}